body {
    background-color: grey;
}

h2 {
    color: azure;
}

.card {
    width: 400px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.card-img-top {
    width: 100%;
}